.extra-block {
    display: flex;
    grid-gap: 1rem;
    width: 100%;
    min-height: 100%; /* Adjust the height as needed */
}

.extra-block-item {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    flex: 1;
    padding: 20px;
    text-align: start;
    color: #fefefe;
    border: 1px solid #fefefe;
    border-radius: .25rem;
    gap: 30px;
}