.skills-block {
    width: 50%;
    color: #fefefe;
    border-radius: .25rem;
    text-align: start;
    padding: 1rem;
    border: 1px solid #fefefe;
}

.skills-block th {
    text-align: start;
}

.circleHolder {
    display: flex;
}

.profBool {
    margin-left: 25%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fefefe;
}

.true {
    background-color: #fefefe;
}