.skills-block {
    width: 50%;
    color: #fefefe;
    border-radius: .25rem;
    text-align: start;
    padding: 1rem;
    border: 1px solid #fefefe;
}

.skills-block .start {
    text-align: start;
}

.green {
    color: lightgreen;
}
.red {
    color: red;
}
.wheat {
    color: wheat;
}
.skillMod {
    text-align: center;
}
.profSkill {
    font-size: 104%;
    color: green;
    text-shadow: 1px 1px 4px darkgreen;
}