.skills-block {
    width: 50%;
    color: #fefefe;
    border-radius: .25rem;
    text-align: start;
    padding: 1rem;
    border: 1px solid #fefefe;
}

.skills-block .start {
    text-align: start;
}

.circleHolder {
    display: flex;
}

.profBool {
    margin-left: 25%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #fefefe;
}

.true {
    background-color: #fefefe;
}
.green {
    color: lightgreen;
  }
  .red {
    color: red;
  }
  .wheat {
    color: wheat;
  }
.skillMod {
    text-align: center;
}