.actions-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: .25rem;
    color: #fefefe;
    padding: 8px;
}

.actions-counters {
    display: flex;
    width: 50%;
    justify-content: space-around;
    font-size: 1.5rem;
}

.actions-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.actions-header {
    font-size: 1.5rem;
}
.actions-options-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}

.actions-option-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.actions-option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
}