.hp-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1;
    width: 0;
  }
  .change-hp-input {
    display: flex;
    flex-direction: column;
    width: 20%;
  }
  .hp-display {
    font-size: 2.5rem;
  }
  .temp-hp-display {
    font-size: 2rem;
  }
  
  .change-hp-input {
    position: relative;
  }
  .change-hp-input input{
    display: block;
    text-align: center;
    border-radius: .25rem;
    font-size: 1.5rem;
    height: 100%;
    padding: .25rem;
    background-color: #fefefe;
  }
  #plus,#minus {
    color: #000;
    font-size: 1rem;
    padding: .25rem;
    border-radius: .25rem;
  }
  #plus {
    background-color: lightgreen;
  }
  #minus {
    background-color: red;
  }