* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
}

.App {
  position: relative;
  text-align: center;
  background-color: #121315;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
}

.equipped {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 1rem;
}

.inv-slot-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%; /* Ensure the parent's height is set properly */
}

.inv-slot-row {
  display: flex;
  gap: 5px;
  align-self: center;
}

.info-block {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  gap: 12px;
}

.second-row, .third-row, .fourth-row {
  position: relative;
  display: flex;
  height: auto;
  color: #fefefe;
  gap: 1rem;
}

.tabs {
  display: flex;
  background-color: #a9262a;
  color: #fefefe;
  width: 100%;
  border-radius: .25rem;
}

.tab {
  flex: 1;
  transition: all .15s ease-in-out;
  height: 100%;
  padding: 1rem;
}
.tab:hover {
  background-color: #f5d073;
  color: black;
}

.pane-window {
  height: 100%;
}