.saving-throws-grid {
    flex: 1;
    width: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2x3 grid */
    gap: 10px; /* Gap between grid items */
  }
  
  .saving-throw {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2a2a2a;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: .25rem;
  }

  .saving-throw-header {
    grid-column: span 2;
  }

  .saving-throw-label, .saving-throw-value {
    font-size: 1.5rem;
  }