.spells-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: .25rem;
    color: #fefefe;
    padding: 8px;
    gap: 2rem;
}
.spells-counters {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    outline: 1px solid #fefefe;
    border-radius: .25rem;
    padding: 1rem;
}
.spells-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.spells-option-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.spell-level-header {
    font-size: 1.5rem;
}

.spells-flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.spells-options {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.spells-options img {
    justify-self: center;
    width: 60px;
    height: 60px;
}