.spells-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: .25rem;
    color: #fefefe;
    padding: 8px;
    gap: 2rem;
    overflow-y: scroll;
}
.spell-level-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

}
.spell-level-header {
    color: #fefefe;
    font-size: 1.5rem;
}

.spell-level-list {
    color: #fefefe;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.spell-details {
    display: grid;
    color: #fefefe;
    justify-content: center;
    align-items: center;
    padding: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.spell-details img {
    justify-self: center;
    width: 75%;
}

.spells-counters {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    outline: 1px solid #fefefe;
    border-radius: .25rem;
    padding: 1rem;
}

.white-svg {
    fill: #fefefe; /* Set the fill color to white */
}